@import 'shared';

$hover-triangle-size: .3em;

.container {
  font-size: 1.5em;

  display: flex;

  width: 100%;

  text-align: center;

  @media only screen and (max-width: $screen-width-tablet-max) {
    height: calc(100vh - #{$navbar-size} - 3 * #{$spacing-default});
  }

  @media only screen and (min-width: $screen-width-desktop-min) {
    height: calc(100vh - 2 * #{$spacing-default});
  }
}

.recipes {
  z-index: 1;

  overflow-y: scroll;

  height: 100%;

  &.mobile {
    width: 100%;
  }

  &:not(.mobile) {
    min-width: max-content;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.label {
  font-family: $font-family-heading;
  font-weight: normal;

  margin: .3em;

  &.dark {
    color: $accent-gold;
  }

  &.noMargin {
    margin: 0;
  }
}

.recipe {
  position: relative;

  box-sizing: border-box;
  padding: $spacing-default calc(2 * #{$spacing-default});

  cursor: pointer;

  @extend %bordered-default;

  &:not(:last-of-type) {
    margin-bottom: $spacing-default;
  }

  &.dark {
    color: $primary-light-gray;
    background-color: $primary-black;

    &::before {
      border-top: $hover-triangle-size solid $accent-gold;
      border-left: $hover-triangle-size solid $accent-gold;
    }
  }

  &.light {
    color: $primary-black;
    background-color: $primary-light-gray;

    &::before {
      border-top: $hover-triangle-size solid $primary-black;
      border-left: $hover-triangle-size solid $primary-black;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    content: '';
    transition: $hover-transition;

    opacity: 0;
    border-right: $hover-triangle-size solid transparent;
    border-bottom: $hover-triangle-size solid transparent;
  }

  &:focus::before,
  &:hover::before {
    opacity: 1;
  }

  &.mobile {
    width: 100%;
  }

  &:not(.mobile) {
    margin-right: calc(#{$spacing-default} + #{$border-width-default});

    &.open {
      margin-right: 0;
      padding-right: calc(3 * #{$spacing-default} + 2 * #{$border-width-default});

      border-right: none;
    };
  }
}

.openRecipeDesktop {
  overflow-y: scroll;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-left: -$border-width-default;
  padding: 2em 5%;

  @extend %bordered-default;

  &.dark {
    color: $primary-light-gray;
    background-color: $primary-black;
  }

  &.light {
    color: $primary-black;
    background-color: $primary-light-gray;
  }
}

.list {
  line-height: 1.4em;

  margin: .5em 0;

  text-align: start;
}

.source {
  font-size: .6em;
}
