@import 'shared';

$hover-triangle-size: 8px;

.container {
  display: flex;

  width: 100%;
  height: 100%;

  text-align: center;
}

.recipeColumn {
  display: flex;
  flex-direction: column;

  height: 100%;

  &.phone {
    width: 100%;
  }

  &:not(.phone) {
    width: 40%;
  }
}

.categories {
  display: flex;
  flex-direction: row;

  margin-bottom: $spacing-default;

  &:not(.phone) {
    margin-right: calc(#{$spacing-default} + #{$border-width-default});
  }
}

.category {
  overflow: hidden;
  flex-grow: 1;

  padding: 4px;

  cursor: pointer;
  white-space: nowrap;
  text-transform: uppercase;
  text-overflow: ellipsis;

  @extend %bordered-default;

  &:not(:last-of-type) {
    margin-right: $spacing-default;
  }

  &.dark {
    color: $off-white;
    background-color: $primary-black;

    &.selected {
      color: $primary-black;
      background-color: $accent-gold;
    }
  }

  &.light {
    color: $primary-black;
    background-color: $off-white;

    &.selected {
      color: $primary-white;
      background-color: $primary-black;
    }
  }

  &:focus,
  &:hover {
    background-color: $gray;
  }
}

.recipes {
  width: 100%;
  height: 100%;

  @extend %scrollable;
}

.heading {
  font-family: $font-family-heading;

  display: block;

  margin: .6rem;

  &.dark {
    color: $accent-gold;
  }

  &:not(.subsection_heading) {
    font-size: 1.4rem;
  }

  &.recipe_heading {
    margin: 0;
  }
}

.recipe {
  position: relative;

  padding: $spacing-default calc(2 * #{$spacing-default});

  cursor: pointer;

  @extend %bordered-default;

  &:not(:last-of-type) {
    margin-bottom: $spacing-default;
  }

  &.dark {
    color: $off-white;
    background-color: $primary-black;

    &::before {
      border-top: $hover-triangle-size solid $accent-gold;
      border-left: $hover-triangle-size solid $accent-gold;
    }
  }

  &.light {
    color: $primary-black;
    background-color: $off-white;

    &::before {
      border-top: $hover-triangle-size solid $primary-black;
      border-left: $hover-triangle-size solid $primary-black;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    content: '';
    transition: $hover-transition;

    opacity: 0;
    border-right: $hover-triangle-size solid transparent;
    border-bottom: $hover-triangle-size solid transparent;
  }

  &:focus::before,
  &:hover::before {
    opacity: 1;
  }

  &.phone {
    width: 100%;
  }

  &:not(.phone) {
    margin-right: calc(#{$spacing-default} + #{$border-width-default});

    &.open {
      margin-right: 0;
      padding-right: calc(3 * #{$spacing-default} + 2 * #{$border-width-default});

      border-right: none;
    }
  }
}

.openRecipeDesktop {
  width: 60%;
  height: 100%;
  margin-left: -$border-width-default;
  padding: 2rem 5%;

  @extend %bordered-default;
  @extend %scrollable;

  &.dark {
    color: $off-white;
    background-color: $primary-black;
  }

  &.light {
    color: $primary-black;
    background-color: $off-white;
  }
}

.list {
  line-height: 1.4rem;

  margin: .8rem 0;

  text-align: start;
}

.source {
  font-size: .8rem;
}
