@import 'shared';

@media only screen and (max-width: $screen-width-tablet-max) {
  .container {
    flex-direction: column;
  }

  .navBar {
    width: 100%;
    height: $navbar-size;
    margin-bottom: $spacing-default;
  }

  .iconGroup {
    display: inline-flex;
    flex-direction: row;

    &:last-of-type {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

@media only screen and (min-width: $screen-width-desktop-min) {
  .container {
    flex-direction: row;
  }

  .navBar {
    width: $navbar-size;
    height: 100%;
    margin-right: $spacing-default;
  }

  .iconGroup {
    display: flex;
    flex-direction: column;

    &:last-of-type {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.container {
  display: flex;

  box-sizing: border-box;
  height: 100%;
  padding: $spacing-default;
}

.navBar {
  position: relative;

  @extend %bordered-default;

  &.dark {
    background-color: $primary-black;
  }

  &.light {
    background-color: $off-white;
  }
}

.iconGroup {
  overflow: hidden;

  margin: -$border-width-default;
}

.iconContainer {
  position: relative;

  box-sizing: content-box;
  width: calc(#{$navbar-size} - 2 * #{$border-width-default});
  height: calc(#{$navbar-size} - 2 * #{$border-width-default});

  cursor: pointer;
  transition: $hover-transition;

  border: $border-default;
  border-radius: $border-width-default;

  &:focus,
  &:hover {
    &:not(.currentIcon) {
      opacity: $hover-opacity;
    }
  }

  &:not(.currentIcon) {
    border-color: transparent;
  }

  &.currentIcon {
    &.dark {
      background-color: $accent-gold;
    }

    &.light {
      background-color: $primary-black;
    }
  }

  svg {
    width: 86%;
    height: 86%;
    padding: 7%;
  }
}

.pageContainer {
  overflow: hidden;
  flex: 1;
}
