@import 'shared';

@media only screen and (max-width: $screen-width-tablet-max) {
  .container {
    padding: $spacing-default;
  }

  .navBar {
    flex-direction: row;

    width: calc(100vw - 2 * #{$spacing-default});
    height: $navbar-size;
    margin: 0 0 $spacing-default 0;
  }

  .iconGroup:first-of-type {
    margin-left: -$border-width-default;
  }

  .iconGroup:last-of-type {
    margin-right: -$border-width-default;
  }
}

@media only screen and (min-width: $screen-width-desktop-min) {
  .container {
    padding: $spacing-default;
    padding-left: calc(#{$navbar-size} + 2 * #{$spacing-default});
  }

  .navBar {
    position: fixed;
    top: $spacing-default;
    left: $spacing-default;

    flex-direction: column;

    width: $navbar-size;
    height: calc(100vh - 2 * #{$spacing-default});
  }

  .iconGroup:first-of-type {
    margin-top: -$border-width-default;
  }

  .iconGroup:last-of-type {
    margin-bottom: -$border-width-default;
  }
}

.navBar {
  z-index: 10;

  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;

  @extend %bordered-default;

  &.dark {
    background-color: $primary-black;
  }

  &.light {
    background-color: $primary-light-gray;
  }
}

.iconGroup {
  display: flex;
  overflow: hidden;
  flex-direction: inherit;
}

.iconContainer {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: $navbar-size;
  height: $navbar-size;

  cursor: pointer;
  transition: $hover-transition;

  border-radius: $border-width-default;

  &:focus,
  &:hover {
    outline: none;

    &:not(.currentIcon) {
      opacity: $hover-opacity;
    }
  }

  &.currentIcon {
    border: $border-default;

    &.dark {
      background-color: $accent-gold;
    }

    &.light {
      background-color: $primary-black;
    }
  }

  svg {
    z-index: 1;

    width: 35px;
    height: 35px;
  }
}
