@media only screen
  and (max-width: 57.99em) {
  .container {
    padding: 5px 10px 10px 10px;
  }

  .navBar {
    z-index: 10;

    flex-direction: row;

    width: calc(100vw - 10px);
    height: 50px;
    margin: 0 0 10px -5px;
  }

  .iconContainer:focus,
  .iconContainer:hover {
    border-top-width: 3px;
    border-top-style: solid;
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }
}

@media only screen
  and (min-width: 58em) {
  .container {
    padding: 10px 10px 10px 65px;
  }

  .navBar {
    position: fixed;
    z-index: 10;
    top: 5px;
    left: 5px;

    flex-direction: column;

    width: 50px;
    height: calc(100vh - 10px);
  }

  .iconContainer:focus,
  .iconContainer:hover {
    border-right-width: 3px;
    border-right-style: solid;
    border-left-width: 3px;
    border-left-style: solid;
  }
}

.navBar {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;

  border-radius: 3px;
  background-color: #eee;
}

.navBar.dark {
  background-color: #111;
}

.iconGroup {
  display: flex;
  flex-direction: inherit;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 50px;
  height: 50px;

  cursor: pointer;
  transition: border 200ms;

  border-color: #00e;
  border-radius: 3px;
}

.iconContainer:focus,
.iconContainer:hover {
  outline: none;
}

.iconContainer.dark {
  border-color: #fcb514;
}

.iconContainer.currentIcon {
  background-color: #00e;
}

.iconContainer.dark.currentIcon {
  background-color: #fcb514;
}

.icon {
  width: 35px;
  height: 35px;
}
