@import 'shared';

@media only screen and (max-width: $screen-width-phone-max) {
  .container {
    flex-direction: column;
  }

  .crosswordContainer {
    align-items: flex-start;

    width: 100%;
    height: 100%;
    margin-top: $spacing-default;
  }
}

@media only screen and (min-width: $screen-width-tablet-min) {
  .container {
    flex-direction: row;
  }

  .crosswordContainer {
    align-items: center;

    width: 65%;
    height: 100%;
    margin-right: $spacing-default;
  }
}

.container {
  display: flex;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.crosswordContainer {
  display: flex;
  justify-content: center;
}

.crossword {
  display: grid;

  user-select: none;

  background-color: #000;

  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-gap: 2px;
  @extend %bordered-default;
}

.cell {
  width: 100%;

  cursor: pointer;

  &.dark {
    background-color: $gray;

    fill: $off-white;

    &.inClue {
      background-color: $dark-gray;

      &.current {
        background-color: $accent-gold;

        fill: $primary-black;
      }
    }
  }

  &.light {
    background-color: $off-white;

    fill: $primary-black;

    &.inClue {
      background-color: $light-gray;

      &.current {
        background-color: $dark-gray;

        fill: $primary-white;
      }
    }
  }
}

.clueDecoration {
  font-size: .44em;
  font-weight: 600;
}

.clues {
  width: 35%;
  height: 100%;

  @extend %scrollable;
}

.clueSetLabel {
  font-family: $font-family-heading;
  font-size: 2em;
  font-weight: normal;

  &.dark {
    color: $accent-gold;
  }

  &.light {
    color: $primary-black;
  }
}

.clue {
  font-size: 1em;

  width: 100%;
  padding: $spacing-default;

  @extend %bordered-default;

  &:not(:last-of-type) {
    margin-bottom: $spacing-default;
  }

  &.dark {
    color: $off-white;
    background-color: $primary-black;

    &.current {
      color: $primary-black;
      background-color: $accent-gold;
    }
  }

  &.light {
    color: $primary-black;
    background-color: $off-white;

    &.current {
      color: $primary-white;
      background-color: $primary-black;
    }
  }
}
