@import url('https://fonts.googleapis.com/css?family=Monoton|Quicksand:wght@400;600;700&display=swap');

$accent-gold: #fcb514;
$accent-red: #e22d4e;
$accent-blue: #44d;
$primary-black: #111;
$primary-white: #eee;
$off-white: #ddd;
$light-gray: #999;
$gray: #666;
$dark-gray: #333;
$border-width-default: 4px;
$border-default: solid #000 $border-width-default;
$navbar-size: 56px;
$spacing-default: 6px;
$hover-opacity: .33;
$hover-transition: opacity 200ms;
$font-family-primary: 'Quicksand', sans-serif;
$font-family-heading: 'Monoton', sans-serif;
$screen-width-phone-max: 41.99em;
$screen-width-tablet-min: 42em;
$screen-width-tablet-max: 65.99em;
$screen-width-desktop-min: 66em;

%bordered-default {
  box-sizing: border-box;

  border: $border-default;
  border-radius: $border-width-default;
}
