@media only screen
  and (max-width: 57.99em) {
  .container {
    height: calc(100vh - 65px);
  }
}

@media only screen
  and (min-width: 58em) {
  .container {
    height: calc(100vh - 10px);
  }
}

.container {
  display: grid;

  width: 100%;

  grid-template-columns: 15px 15px 15px 1fr 1fr 1fr 15px 15px 15px;
  grid-template-rows: 15px 15px 15px 1fr 1fr 1fr 15px 15px 15px;
}

.container > div {
  border: solid #000 3px;
  border-radius: 3px;
}

.layer1 {
  background-color: #fcb514;

  grid-column: 1 / span 4;
  grid-row: 1 / span 4;
}

.layer2 {
  background-color: #e22d4e;

  grid-column: 2 / span 4;
  grid-row: 2 / span 4;
}

.layer3 {
  background-color: #fcb514;

  grid-column: 6 / span 4;
  grid-row: 6 / span 4;
}

.layer4 {
  background-color: #e22d4e;

  grid-column: 5 / span 4;
  grid-row: 5 / span 4;
}

.layer5 {
  background-color: #8d5cdc;

  grid-column: 3 / span 5;
  grid-row: 3 / span 5;
}
