@media only screen
  and (max-width: 46em) {
  .grid {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media only screen
  and (min-width: 46em)
  and (max-width: 58em) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen
  and (min-width: 58em)
  and (max-width: 70em) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen
  and (min-width: 70em) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.grid {
  display: grid;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  grid-gap: 10px;
}

.album {
  position: relative;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  cursor: pointer;
}

.album:focus {
  outline: none;
}

.record {
  display: block;
}

.albumArt {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: margin-left 600ms, height 200ms, width 200ms, top 200ms, left 200ms;
}

.albumArt:hover,
.albumArt.focus,
.albumArt.open {
  top: -5px;
  left: -5px;

  width: calc(100% + 10px);
  height: calc(100% + 10px);
}

.albumArt.open {
  margin-left: calc(-55%);
}

.albumInfo {
  position: absolute;
  top: 0;
  right: 10px;

  writing-mode: vertical-rl;
}

.albumInfo > span {
  display: table;

  padding: 5px 3px;
}

.albumInfo > span:first-child {
  margin-left: 5px;
}
