@import 'shared';

$grow-duration: 200ms;

@media only screen and (max-width: 45.99em) {
  .grid {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }

  .albumArt.open {
    margin-left: -75%;
  }
}

@media only screen and (min-width: 46em) {
  .albumArt.open {
    margin-left: -55%;
  }
}

@media only screen and (min-width: 46em) and (max-width: 57.99em) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 58em) and (max-width: 69.99em) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 70em) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.grid {
  display: grid;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: $spacing-default;

  grid-gap: calc(2 * #{$spacing-default});
}

.album {
  position: relative;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.record {
  display: block;
}

.albumArt {
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  transition: margin-left 600ms, height $grow-duration, width $grow-duration, top $grow-duration, left $grow-duration;

  @extend %bordered-default;

  &:hover,
  &.focus,
  &.open {
    top: -$spacing-default;
    left: -$spacing-default;

    width: calc(100% + 2 * #{$spacing-default});
    height: calc(100% + 2 * #{$spacing-default});
  }
}

.albumInfo {
  font-family: $font-family-lexend-deca;

  position: absolute;
  top: 0;
  right: calc(2 * #{$spacing-default});

  writing-mode: vertical-rl;

  span {
    display: table;

    padding: 5px 3px;

    @extend %bordered-default;

    &:first-child {
      margin-left: $spacing-default;
    }
  }
}
