@import 'shared';

.container {
  display: flex;
  height: 100%;
  color: $text-color-light;

  div {
    display: flex;
    align-items: flex-end;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: $inner-spacing;
    height: 100%;

    &:last-of-type {
      align-items: flex-start;
      flex: 2;
      border-radius: $inner-spacing;
      background-color: $rust;
    }
  }
}
