@import 'shared';

$less-padding: 16px;
$more-padding: 24px;
$content-height: 32px;

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: $less-padding $more-padding;

  background-color: $navbar-color;
}

.logoContainer {
  width: 279px; // the svg viewbox is 870x100
  height: $content-height;

  color: transparent;
  background-image: url(/logoNameFullLight.svg);
  background-repeat: no-repeat;
  background-origin: content-box;

  @extend %transparent-interaction;
}

.iconContainer {
  display: flex;
  flex-direction: row;

  height: $content-height;
}

.icon {
  height: inherit;
  margin-left: $less-padding;

  @extend %transparent-interaction;
  svg {
    height: inherit;
  }
}

.pageContainer {
  overflow-x: hidden;

  box-sizing: border-box;
  height: calc(100% - #{$navbar-height});
  padding: $outer-spacing;
}

@media only screen and (max-width: $screen-width-tiny-max) {
  .logoContainer {
    width: 103px; // the svg viewbox is 320x100

    background-image: url(/logoNameShortLight.svg);
  }
}

@media only screen and (max-width: $screen-width-narrow-max) {
  .pageContainer {
    padding: $inner-spacing;
  }
}
