@import 'shared';

$content-height: 32px;

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $space-16 $space-24;
  background-color: $navbar-color;
}

.logoContainer {
  width: 279px; // the svg viewbox is 870x100
  height: $content-height;
  background-image: url(/logoNameFullLight.svg);
  background-origin: content-box;
  background-repeat: no-repeat;
  color: transparent;

  @extend %transparent-interaction;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  height: $content-height;
}

.icon {
  margin-left: $space-16;
  height: inherit;

  @extend %transparent-interaction;

  svg {
    height: inherit;
  }
}

.pageContainer {
  overflow-x: hidden;
  box-sizing: border-box;
  padding: $space-48;
  height: calc(100% - #{$navbar-height});
}

@media only screen and (max-width: $screen-width-tiny-max) {
  .logoContainer {
    width: 103px; // the svg viewbox is 320x100
    background-image: url(/logoNameShortLight.svg);
  }
}

@media only screen and (max-width: $screen-width-extra-narrow-max) {
  .pageContainer {
    padding: $space-24;
  }
}
