@import 'shared';

html {
  height: 100%;

  background-color: $dark-gray;
}

body {
  font-family: $font-family-primary;

  height: 100%;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *:focus {
    outline: none;
  }

  #__next {
    height: 100%;
  }
}
