@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Quicksand:wght@400;600;700&display=swap');

$accent-gold: #fcb514;
$primary-black: #111;
$primary-white: #eee;
$off-white: #ddd;
$gray: #666;
$dark-gray: #333;
$border-width-default: 4px;
$border-default: solid #000 $border-width-default;
$navbar-size: 52px;
$spacing-default: 4px;
$hover-opacity: .33;
$hover-transition: opacity 200ms;
$font-family-primary: 'Quicksand', sans-serif;
$font-family-heading: 'Bowlby One SC', sans-serif;
$screen-width-phone-max: 41.99em;
$screen-width-tablet-min: 42em;
$screen-width-tablet-max: 65.99em;
$screen-width-desktop-min: 66em;

%bordered-default {
  box-sizing: border-box;

  border: $border-default;
  border-radius: $border-width-default;
}

%scrollable {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
