@import 'shared';

$current-clue-height: 1.5rem;
$border-size: 2px;

.container {
  position: relative;

  display: flex;
  justify-content: space-between;

  height: 100%;

  @extend %content-container;
}

.crosswordContainer {
  position: relative;

  flex-shrink: 0;

  box-sizing: border-box;
  margin-right: $half-container-spacing;
  margin-left: calc(#{$current-clue-height} / -2);
  padding: 0 calc(#{$current-clue-height} / 2); // This will be set to be square in JS, but we actually want the crossword itself to be square. This accounts for the current clues height
}

.currentClue {
  font-size: .75rem;
  line-height: calc(#{$current-clue-height} - #{$border-size});

  overflow-x: hidden;
  overflow-y: hidden;

  box-sizing: border-box;
  width: 100%;
  height: $current-clue-height;

  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: $text-color-dark;
  border: $border-size solid $navbar-color;
  border-bottom-width: 0;
  background-color: $gold;
}

.crossword {
  display: grid;

  box-sizing: border-box;
  width: 100%;
  height: calc(100% - #{$current-clue-height});

  user-select: none;

  border: $border-size solid $navbar-color;
  background-color: $navbar-color;

  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-gap: $border-size;
}

.cell {
  width: 100%;

  cursor: pointer;

  background-color: $royal;

  fill: $text-color-light;

  &.inClue {
    background-color: $rust;

    &.current {
      background-color: $gold;

      fill: $text-color-dark;
    }
  }
}

.clueDecoration {
  font-size: .4rem;
  font-weight: 600;
}

.clues {
  display: flex;
  flex-direction: row;

  height: 100%;
}

.clueListContainer {
  display: flex;
  flex: 1;
  flex-direction: column;

  &:first-of-type {
    margin-right: $half-container-spacing;
  }
}

.clueSetLabel {
  font-family: $font-family-heading;
  font-size: 1.25rem;
  font-weight: normal;

  color: $magenta;
}

.clueList {
  overflow-y: scroll;

  margin: 0;
  padding: 0;

  list-style-type: none;

  border-radius: $border-size;

  li {
    margin: 0;
  }
}

.clue {
  font-size: .75rem;

  box-sizing: border-box;
  padding: 4px 8px;

  cursor: pointer;
  user-select: none;

  color: $text-color-light;
  background-color: $navbar-color;

  &:not(:last-of-type) {
    margin-bottom: $border-size;
  }

  &.current {
    background-color: $rust;
  }
}

.hiddenInput {
  font-size: 24px; // Prevent mobile browser auto zoom

  height: 0;
  margin: 0;
  padding: 0;

  border: none;
}

@media only screen and (max-width: $screen-width-narrow-max) {
  .crosswordContainer {
    margin: 0 auto;
  }

  .clues {
    display: none;
  }
}

@media only screen and (min-width: $screen-width-standard-min) and (max-width: $screen-width-standard-max) {
  .clues {
    flex-direction: column;
  }

  .clueListContainer {
    height: 50%;

    &:first-of-type {
      margin-right: 0;
    }
  }
}
