@import 'shared';

$current-clue-height: 1.5rem;
$border-size: 2px;

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;

  @extend %content-container;
}

.crosswordContainer {
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box;
  margin-right: $inner-spacing;
  margin-left: calc(#{$current-clue-height} / -2);
  padding: 0 calc(#{$current-clue-height} / 2); // This will be set to be square in JS, but we actually want the crossword itself to be square. This accounts for the current clues height
}

.currentClue {
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  width: 100%;
  height: $current-clue-height;
  border: $border-size solid $navbar-color;
  border-bottom-width: 0;
  background-color: $gold;
  color: $text-color-dark;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.75rem;
  line-height: calc(#{$current-clue-height} - #{$border-size});
}

.crossword {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - #{$current-clue-height});
  border: $border-size solid $navbar-color;
  background-color: $navbar-color;

  user-select: none;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-gap: $border-size;
}

.cell {
  width: 100%;
  background-color: $royal;
  cursor: pointer;

  fill: $text-color-light;

  &.inClue {
    background-color: $rust;

    &.current {
      background-color: $gold;

      fill: $text-color-dark;
    }
  }
}

.clueDecoration {
  font-weight: 600;
  font-size: 0.4rem;
}

.clues {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.clueListContainer {
  display: flex;
  flex: 1;
  flex-direction: column;

  &:first-of-type {
    margin-right: $inner-spacing;
  }

  h1 {
    color: $magenta;
    font-size: 1.25rem;
  }
}

.clueList {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  border-radius: $border-size;
  list-style-type: none;

  li {
    margin: 0;
  }
}

.clue {
  box-sizing: border-box;
  padding: 4px 8px;
  background-color: $navbar-color;
  color: $text-color-light;
  font-size: 0.75rem;
  cursor: pointer;

  user-select: none;

  &:not(:last-of-type) {
    margin-bottom: $border-size;
  }

  &.current {
    background-color: $rust;
  }
}

.hiddenInput {
  margin: 0;
  padding: 0;
  height: 0;
  border: none;
  font-size: 24px; // Prevent mobile browser auto zoom
}

@media only screen and (max-width: $screen-width-extra-narrow-max) {
  .crosswordContainer {
    margin: 0 auto;
  }

  .clues {
    display: none;
  }
}

@media only screen and (min-width: $screen-width-narrow-min) and (max-width: $screen-width-narrow-max) {
  .clues {
    flex-direction: column;
  }

  .clueListContainer {
    height: 50%;

    &:first-of-type {
      margin-right: 0;
    }
  }
}
