@import 'shared';

@media only screen and (max-width: $screen-width-tiny-max) {
  .container {
    flex-direction: column;
  }

  .crosswordContainer {
    align-items: flex-start;

    width: 100%;
  }
}

@media only screen and (min-width: $screen-width-narrow-min) {
  .container {
    flex-direction: row;
  }

  .crosswordContainer {
    align-items: center;

    width: 65%;
    margin-right: $spacing-default;
  }
}

.container {
  display: flex;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.crosswordContainer {
  display: flex;
  justify-content: center;

  height: 100%;
}

.crossword {
  display: grid;

  user-select: none;

  background-color: #000;

  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  grid-gap: 2px;
  @extend %bordered-default;
}

.cell {
  width: 100%;

  cursor: pointer;

  background-color: $gray;

  fill: $off-white;

  &.inClue {
    background-color: $dark-gray;

    &.current {
      background-color: $accent-gold;

      fill: $primary-black;
    }
  }
}

.clueDecoration {
  font-size: .4rem;
  font-weight: 600;
}

.clues {
  width: 35%;
  height: 100%;
}

.clueListContainer {
  display: flex;
  flex-direction: column;

  height: 50%;
}

.clueSetLabel {
  font-family: $font-family-heading;
  font-size: 1.4rem;
  font-weight: normal;

  color: $accent-gold;
}

.clueList {
  flex: 1;

  @extend %scrollable;
}

.clue {
  width: 100%;
  padding: 4px 6px;

  color: $off-white;
  background-color: $primary-black;

  @extend %bordered-default;

  &:not(:last-of-type) {
    margin-bottom: $spacing-default;
  }

  &.current {
    color: $primary-black;
    background-color: $accent-gold;
  }
}

.hiddenInput {
  font-size: 24px; // Prevent mobile browser auto zoom

  height: 0;
  margin: 0;
  padding: 0;

  border: none;
}
