@import 'shared';

$rust: #b93b15;
$flirt: #8d016a;
$grape: #564787;
$standard-spacing: 1rem;
$rounded-spacing: 1.5rem;
$container-spacing: 3rem;

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: $container-spacing;

  @extend %content-container;
}

.textSection {
  margin-right: $container-spacing;
  padding: 0 $rounded-spacing;

  color: #eee;

  p {
    font-size: 1.25rem;
    line-height: 2rem;

    margin: $standard-spacing 0;
  }

  h1 {
    margin: $standard-spacing 0;
  }

  div {
    position: relative;

    display: inline-block;

    &.blurbRight {
      background-color: $rust;

      &::before {
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;

        width: $rounded-spacing;

        content: '';

        border-top-left-radius: $rounded-spacing;
        background-color: $rust;
      }

      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;

        width: 100vw;

        content: '';

        background-color: $rust;
      }
    }

    &.blurbLeft {
      background-color: $grape;

      &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -100vw;

        width: 100vw;

        content: '';

        background-color: $grape;
      }

      &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;

        width: $rounded-spacing;

        content: '';

        border-bottom-right-radius: $rounded-spacing;
        background-color: $grape;
      }
    }
  }
}

.photoSection {
  position: relative;

  margin: auto;
}

.imageContainer {
  position: relative;

  overflow: hidden;

  width: Min(300px, calc(100vw - 2 * #{$rounded-spacing})); // uppercase functions to use CSS versions rather than SASS
  height: Min(300px, calc(100vw - 2 * #{$rounded-spacing}));

  border-radius: 100%;
}

.linksContainer {
  z-index: -1;

  display: flex;
  flex-direction: row;
  justify-content: center;

  width: max-content;
  margin: -4rem auto 0 auto;
  padding: 5rem $standard-spacing $standard-spacing $standard-spacing;

  border-radius: $rounded-spacing;
  background-color: $flirt;

  a {
    width: 1.5rem;
    height: 1.5rem;

    transition: $hover-transition;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }

    &:focus-visible,
    &:hover {
      opacity: $hover-opacity;
    }

    svg {
      width: inherit;
      height: inherit;
    }
  }
}

@media only screen and (max-width: $screen-width-narrow-max) {
  .container {
    flex-direction: column-reverse;

    padding: $rounded-spacing;
  }

  .textSection {
    margin-top: $standard-spacing;
    margin-right: 0;
  }
}
