@import 'shared';

$font-size-default: 1.6rem;
$line-height-default: 1.4em;

@media only screen and (max-width: $screen-width-phone-max) {
  .grid {
    grid-template-columns: $line-height-default 1fr;
    grid-template-rows: repeat(4, max-content);
    grid-template-areas: 'a b'
    'c d'
    'e f'
    'g h';
    grid-row-gap: 24px;
  }

  .socialLinksContainer {
    top: 0;
    right: 0;

    margin: $spacing-default;
  }
}

@media only screen and (min-width: $screen-width-tablet-min) {
  .grid {
    grid-template-columns: repeat(4, $line-height-default) 1fr;
    grid-template-rows: repeat(5, max-content);
    grid-template-areas: 'a b b b b'
    'a c d d d'
    'a c e f f'
    'a c e g h'
    'a c e g h';
    grid-row-gap: 16px;
  }
}

@media only screen and (max-width: $screen-width-tablet-max) {
  .socialLinksContainer {
    top: 0;
    right: 0;

    margin: $spacing-default;
  }
}

@media only screen and (min-width: $screen-width-desktop-min) {
  .socialLinksContainer {
    right: 0;
    bottom: 0;
  }
}

.container {
  position: relative;

  max-width: 1800px;
  height: 100%;
  margin: auto;

  @extend %scrollable;
}

.banner {
  width: 88%;
  margin: $spacing-default 6%;

  svg {
    max-height: 300px;
  }
}

.grid {
  font-size: $font-size-default;
  line-height: $line-height-default;

  display: grid;

  width: 80%;
  margin: 20px 10%;

  grid-column-gap: 16px;
}

.label {
  margin: 0;

  transform: rotate(180deg);
  text-align: end;

  color: $accent-gold;

  writing-mode: vertical-rl;
}

.label0 {
  grid-area: a;
}

.label1 {
  grid-area: c;
}

.label2 {
  grid-area: e;
}

.label3 {
  grid-area: g;
}

.info {
  color: $off-white;
}

.info0 {
  grid-area: b;
}

.info1 {
  grid-area: d;
}

.info2 {
  grid-area: f;
}

.info3 {
  grid-area: h;
}

.socialLinksContainer {
  position: absolute;

  display: flex;
}

.socialLink {
  transition: $hover-transition;

  &:not(:last-of-type) {
    margin-right: $spacing-default;
  }

  &:focus,
  &:hover {
    opacity: $hover-opacity;
  }

  svg {
    display: block;

    width: 2rem;
    height: 2rem;
  }
}
