@import 'shared';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @extend %content-container;

  &::after {
    position: absolute;
    top: 0;
    left: 25%;
    z-index: -1;
    width: 25%;
    height: 100%;
    background-color: $gold;
    content: '';
  }
}

.textSection {
  margin-right: $outer-spacing;
  color: $text-color-light;

  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 2.5rem;
  }

  div {
    position: relative;
    display: inline-block;
    padding: $inner-spacing;

    &:first-of-type {
      border-top-left-radius: $inner-spacing;
      background-color: $rust;

      @extend %extends-right;
    }

    &:last-of-type {
      border-bottom-right-radius: $inner-spacing;
      background-color: $royal;

      @extend %extends-left;
    }
  }
}

.photoSection {
  position: relative;
  margin: 0 auto;
  padding-top: $inner-spacing;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  width: Min(300px, calc(100vw - 2 * #{$inner-spacing})); // uppercase functions to use CSS versions rather than SASS
  height: Min(300px, calc(100vw - 2 * #{$inner-spacing}));
  border-radius: 100%;

  img {
    width: 100%;
    height: 100%;
  }
}

.linksContainer {
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: -4rem auto 0 auto;
  padding: 5rem $less-spacing $less-spacing $less-spacing;
  width: max-content;
  border-radius: $inner-spacing;
  background-color: $magenta;

  a {
    width: 1.5rem;
    height: 1.5rem;

    @extend %transparent-interaction;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }

    svg {
      width: inherit;
      height: inherit;

      fill: $text-color-light;
      stroke: $text-color-light;
    }
  }
}

@media only screen and (max-width: $screen-width-extra-narrow-max) {
  .container {
    flex-direction: column-reverse;
  }

  .photoSection {
    padding-top: 0;
  }

  .textSection {
    margin-top: $inner-spacing;
    margin-right: 0;
  }
}
