@import 'shared';

$hover-triangle-size: 8px;

.container {
  @extend %content-container;
}

.categoryContainer {
  position: relative;

  display: flex;
  flex-direction: row;

  padding: $inner-spacing $outer-spacing;

  color: $royal;
  border-radius: $inner-spacing;
  background-color: $royal;

  &:not(:last-of-type) {
    margin-bottom: $inner-spacing;
  }

  &:first-of-type {
    color: $rust;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: $rust;

    @extend %extends-left;
  }

  &:last-of-type {
    color: $magenta;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $magenta;

    @extend %extends-right;
  }
}

.categorySection {
  display: flex;
  flex: 1;
  flex-direction: column;

  h1 {
    font-size: 4rem;
    line-height: 4rem;

    height: min-content;

    user-select: none;

    color: $gold;
  }

  .dots {
    position: relative;

    flex: 1;

    background-image: url(/goldCircle.svg);
    background-repeat: repeat;
    background-size: 3rem;

    &::after {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      content: '';

      background-image: linear-gradient(to top, currentColor, 50%, transparent),
      linear-gradient(to left, currentColor, 50%, transparent);
    }
  }
}

.recipeSection {
  margin-left: $less-spacing;

  a {
    font-size: 1.25rem;

    display: block;

    margin-bottom: $less-spacing;

    text-align: end;
    text-decoration: none;

    color: $text-color-light;

    @extend %transparent-interaction;
  }
}

@media only screen and (min-width: $screen-width-narrow-min) and (max-width: $screen-width-standard-max) {
  .categorySection {
    h1 {
      transform: rotate(180deg);
      text-align: center;

      writing-mode: vertical-rl;
    }

    .dots {
      visibility: hidden;
    }
  }
}

@media only screen and (max-width: $screen-width-tiny-max) {
  .categoryContainer {
    flex-direction: column;

    padding: $inner-spacing;
  }

  .categorySection {
    h1 {
      font-size: 2rem;
      line-height: 2rem;
    }

    .dots {
      visibility: hidden;
    }
  }

  .recipeSection {
    margin-top: $less-spacing;
    margin-left: 0;
    a {
      text-align: start;
    }
  }
}
