@import 'shared';

.container {
  @extend %content-container;
}

.heading {
  margin-bottom: $space-24;
  color: $gold;
  font-family: $font-family-heading;

  h1 {
    font-size: $size-64;
    line-height: 1;
  }

  .portion {
    font-size: $size-32;
  }
}

.rows {
  display: flex;
  flex-direction: column;

  row-gap: $space-24;
}

.row {
  position: relative;
  display: flex;
  color: $text-color-light;

  gap: $space-24;

  h2 {
    padding: $space-4 0;
    text-align: end;
    font-size: $size-32;
    line-height: 1;

    writing-mode: vertical-lr;
    rotate: 180deg;
  }
}

.textContainer {
  flex: 1;
  padding: $space-24;
  border-radius: 24px;

  &.ingredients {
    background-color: $royal;

    ul {
      columns: 3;
      column-gap: $space-32;
    }
  }

  &.directions {
    background-color: $rust;
  }

  h3 {
    margin-bottom: $space-8;
    font-size: $size-24;
    line-height: 1;

    &:not(:first-of-type) {
      margin-top: $space-24;
    }
  }

  ol,
  ul {
    margin: 0;
    font-size: $size-20;
    line-height: 1.5;

    padding-inline-start: $space-32;
  }
}

@media only screen and (min-width: $screen-width-narrow-min) and (max-width: $screen-width-narrow-max) {
  .textContainer.ingredients ul {
    columns: 2;
  }
}

@media only screen and (min-width: $screen-width-extra-narrow-min) and (max-width: $screen-width-extra-narrow-max) {
  .textContainer.ingredients ul {
    columns: 1;
  }
}

@media only screen and (max-width: $screen-width-tiny-max) {
  .row {
    flex-direction: column;

    h2 {
      text-align: center;

      writing-mode: unset;
      rotate: none;
    }
  }

  .textContainer.ingredients ul {
    columns: 1;
  }
}
