@import 'shared';

.container {
  @extend %content-container;
}

.heading {
  position: relative;
  margin-bottom: $space-24;
  padding: $space-24;
  background-color: $gold;
  color: $text-color-dark;
  text-align: center;

  @extend %extends-left;
  @extend %extends-right;
}

.columns {
  display: flex;
  flex-direction: row;

  div {
    position: relative;
    padding: $space-24;
    color: $text-color-light;

    &:first-of-type {
      flex: 2;
      margin-right: $space-24;
      border-top-right-radius: $space-24;
      border-bottom-right-radius: $space-24;
      background-color: $royal;

      @extend %extends-left;
    }

    &:last-of-type {
      flex: 3;
      border-top-left-radius: $space-24;
      border-bottom-left-radius: $space-24;
      background-color: $rust;

      @extend %extends-right;
    }

    h2 {
      margin-bottom: $space-16;
      text-align: center;
    }

    ul,
    ol {
      margin: $space-8 0;
      line-height: 1.5rem;
    }
  }
}

@media only screen and (max-width: $screen-width-extra-narrow-max) {
  .columns {
    flex-direction: column;

    div:first-of-type {
      margin-bottom: $space-24;
    }
  }
}
